

.button {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(141, 27, 113);
    color: lightgoldenrodyellow;
    font-size: 1rem;
}

.field {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 5%;
    color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

.service-item {
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
}
.service-item:nth-child(odd) {background: #CCC}
.service-item:nth-child(even) {background: #FFF}

.service-info {
    flex: 9;

}

.request__delete {
    flex: 1;
    margin: 5px;
}

.plumbers {
    flex: 1;
    margin: 5px;
}